:root {
	--back : #FFF4E6;
	--text : #0000CC;
}

html {font-size:16px;}
body {background-color:var(--back); font-weight: 500;}

.container {width:90%; max-width:1120px; margin-left:auto; margin-right: auto; position: relative;}

div.name {display: flex; flex-direction: row; justify-content:flex-end;}
div.name h1 {font-size:2rem; color:var(--text); font-family: 'Raleway', serif; font-weight: 500; line-height: 1.2;}

section.w-fit {width:80%; margin-left: auto; margin-right: auto;}

section#intro {margin-top:12rem;}
section#intro p {margin:2rem 0; color:var(--text); font-size:1.5rem;}

section#contact {margin-top:6rem;}
section#contact ul li a {color:var(--text); font-family: 'Raleway', serif; font-size: 3.5rem; text-decoration: underline;}
section#contact ul li a:hover {text-decoration: none;}

div.fixed {position:fixed; bottom: 4rem; left:0; right:0; z-index: 1;}
div.logo {display: flex; flex-direction: row; justify-content:flex-end; width:90%; max-width:1120px; margin-left:auto; margin-right: auto;}
div.logo a {background:url(../images/logo.png); width:6rem; height: 6rem; background-size:contain; border-radius: 50%; display: block; animation: logo 8s linear infinite;}

section#thumbnail {margin-top:6rem;}
section#thumbnail ul {display: flex; flex-wrap: wrap; align-items: baseline;}
section#thumbnail ul li img {display:block; width: 100%; height: auto;}
section#thumbnail ul li {margin-right: 5%; margin-bottom: 5%;}

section#thumbnail ul li.w20 {width:20%;}
section#thumbnail ul li.w30 {width:30%;}
section#thumbnail ul li.w40 {width:40%;}
section#thumbnail ul li.w50 {width:50%;}
section#thumbnail ul li.w60 {width:60%;}
section#thumbnail ul li.w70 {width:70%;}
section#thumbnail ul li.w80 {width:80%;}


section#copyright {margin-top:6rem; padding-bottom: 6rem;}
section#copyright p {color:var(--text); font-family: 'Raleway', serif;}

@media screen and (max-width:1439px) {

}

@media screen and (max-width:1023px) {
	html {font-size: 14px;}
	
}

@media screen and (max-width:767px) {
	html {font-size: 12px;}
	
	section#thumbnail ul li.w20,
	section#thumbnail ul li.w30,
	section#thumbnail ul li.w40 {width:40%;}
	
	.m-none {display: none;}
	
}

@keyframes logo {
  100% {
    transform: rotate(360deg);
  }
}
